.main-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-grow: 1;
  overflow: auto;
}

md-card {
  margin: 1em;
  min-width: 250px;
}

.result-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  height: 300px;
}

md-card.result-card {
  width: 15%;
}

div.row-container {
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-align-content: space-between;
  align-content: space-between;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-grow: 1;
}

.form-group, .full-width {
  width: 100%;
}

.fill-remaining-space {
  flex: 2 1 auto;
}

md-list-item {
  margin-top: 2em;
}

span a {
  text-decoration: none;
  color: #fff;
}


