<div class="main-container">
  <header>
    <md-toolbar color="primary">
      <span><a href="http://takehomewage.com/">Take Home Wage</a></span>
      <span class="fill-remaining-space"></span>
      <span><md-icon>mood</md-icon></span>
    </md-toolbar>
  </header>

  <main class="container">
    <md-card class="calculate-card">
      <h2>Calculator</h2>
      <md-card-content>
        <form [formGroup]="userForm">
          <md-list>
            <md-list-item>
              <md-input-container class="full-width">
                <md-icon mdPrefix color="primary">attach_money</md-icon>
                <input placeholder="Salary" mdInput formControlName="salary" required>
                <md-icon mdSuffix color="primary">home</md-icon>
              </md-input-container>
            </md-list-item>
            <md-list-item>
              <md-select class="full-width" placeholder="Status" formControlName="status" required>
                <md-option *ngFor="let status of statusNames" [value]="status">{{ status }}</md-option>
              </md-select>
            </md-list-item>
            <md-list-item>
              <md-select class="full-width" placeholder="Dependents" formControlName="dependents" required>
                <md-option *ngFor="let number of dependentNumbers" [value]="number">{{ number }}</md-option>
              </md-select>
            </md-list-item>
            <md-list-item>
              <md-input-container class="full-width">
                <md-icon mdPrefix color="primary">attach_money</md-icon>
                <input placeholder="Monthly Deduction" mdInput formControlName="deduction" required>
              </md-input-container>
            </md-list-item>
            <md-list-item>
              <md-select class="full-width" placeholder="State" formControlName="state" required>
                <md-option *ngFor="let state of statesList" [value]="state">{{ state }}</md-option>
              </md-select>
            </md-list-item>
          </md-list>
        </form>
      </md-card-content>
    </md-card>

    <md-card class="result-card">
      <h2>Results</h2>
      <md-card-content class="result-content">
        <div class="row-container" *ngFor="let pay of takeHomePay">
          <span>{{ pay.text }}</span>
          <span class="fill-remaining-space"></span>
          <span><md-icon color="primary">attach_money</md-icon></span>
          <span>{{ pay.money }}</span>
        </div>
      </md-card-content>
    </md-card>
  </main>

  <footer class="sticky-footer">
    <md-toolbar color="primary">
      <span>© Take Home Pay 2017</span>
      <span class="fill-remaining-space"></span>
      <span>
      <a href="https://twitter.com/takehomewage">Twitter</a>
    </span>
    </md-toolbar>
  </footer>
</div>
