<div>
    <md-toolbar color="primary">
      <span>Take Home Pay</span>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>
      <span><md-icon>mood</md-icon></span>
    </md-toolbar>

  <main class="container">
    <md-card class="calculate-card">
      <h2>Calculator</h2>
      <md-card-content>
        <form [formGroup]="userForm">
          <md-list>
            <md-list-item>
              <md-input-container class="full-width">
                <md-icon mdPrefix color="primary">attach_money</md-icon>
                <input placeholder="Salary" mdInput formControlName="salary" required>
                <md-icon mdSuffix color="primary">home</md-icon>
              </md-input-container>
            </md-list-item>
            <md-list-item>
              <md-select class="full-width" placeholder="Status" formControlName="status" required>
                <md-option *ngFor="let status of statusNames" [value]="status">{{ status }}</md-option>
              </md-select>
            </md-list-item>
            <md-list-item>
              <md-select class="full-width" placeholder="Dependents" formControlName="dependents" required>
                <md-option *ngFor="let number of dependentNumbers" [value]="number">{{ number }}</md-option>
                <!--<md-icon mdSuffix>group_add</md-icon>-->
              </md-select>
            </md-list-item>
            <md-list-item>
              <md-input-container class="full-width">
                <md-icon mdPrefix color="primary">attach_money</md-icon>
                <input placeholder="Monthly Deduction" mdInput formControlName="deduction" required>
              </md-input-container>
            </md-list-item>
            <md-list-item>
              <md-select class="full-width" placeholder="State" formControlName="state" required>
                <md-option *ngFor="let state of statesList" [value]="state">{{ state }}</md-option>
              </md-select>
            </md-list-item>
          </md-list>
        </form>
      </md-card-content>
    </md-card>

    <md-card class="result-card">
      <md-card-header>
        <h2>Results</h2>
      </md-card-header>
      <md-card-content>
        <md-grid-list cols="5" rowHeight="3:1">
          <md-grid-tile></md-grid-tile>
          <md-grid-tile
            *ngFor="let pay of takeHomePay"
            [colspan]="pay.cols"
            [rowspan]="pay.rows">
            {{ pay.text }}</md-grid-tile>
          <md-grid-tile>Take Home</md-grid-tile>
          <md-grid-tile
            *ngFor="let pay of takeHomePay"
            [colspan]="pay.cols"
            [rowspan]="pay.rows"
            [style.background]="pay.color">
            <div>
              <md-icon color="primary">attach_money</md-icon>
              {{ pay.money }}
            </div>
          </md-grid-tile>
        </md-grid-list>
      </md-card-content>
    </md-card>



  </main>
</div>
