<div class="container">
  <div>
    <h1>Calculator</h1>
    <form #calculatorForm="ngForm">
      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="model.salary" name="salary" #name="ngModel" required>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="model.status" required>
          <option>Single</option>
          <option>Married</option>
          <option>Head of Household</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dependents">Dependents</label>
        <select class="form-control" id="dependents" name="dependents" [(ngModel)]="model.dependents" required>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>

      <div class="form-group">
        <label for="deduction">Monthly Deduction</label>
        <input type="text" class="form-control" id="deduction" name="deduction" [(ngModel)]="model.deduction" #name="ngModel" required>
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" id="state" name="state" [(ngModel)]="model.state" required>
          <option>None</option>
          <option>CA</option>
        </select>
      </div>

    </form>
  </div>

  <!-- <div [hidden]="!submitted"> -->
  <div>
    <h2>Results</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Yearly</th>
          <th>Monthly</th>
          <th>Bi-Weekly</th>
          <th>Weekly</th>
      </tr>
      </thead>
      <tbody>
         <tr>
           <td><strong>Take Home</strong></td>
           <td>$ {{takeHomePay.yearly}}</td>
           <td>$ {{takeHomePay.monthly}}</td>
           <td>$ {{takeHomePay.biweekly}}</td>
           <td>$ {{takeHomePay.weekly}}</td>
         </tr>
      </tbody>
    </table>
  </div>
</div>
