<div class="container">
  <div>
    <h1>Calculator</h1>
    <form [formGroup]="userForm" class="user-form">
        <md-input-container class="full-width md-block">
          <md-icon mdPrefix>attach_money</md-icon>
          <input placeholder="Salary" mdInput formControlName="salary" required>
          <md-icon mdSuffix>home</md-icon>
        </md-input-container>

        <!--<md-icon mdPrefix>person</md-icon>-->
        <md-select class="full-width" placeholder="Status" formControlName="status" required>
          <md-option *ngFor="let status of statusNames" [value]="status">{{ status }}</md-option>
        </md-select>

        <md-select class="full-width" placeholder="Dependents" formControlName="dependents" required>
          <md-option *ngFor="let number of dependentNumbers" [value]="number">{{ number }}</md-option>
          <!--<md-icon mdSuffix>group_add</md-icon>-->
        </md-select>

        <md-input-container class="full-width md-block">
          <md-icon mdPrefix>attach_money</md-icon>
          <input placeholder="Monthly Deduction" mdInput formControlName="deduction" required>
        </md-input-container>
        <!--<md-icon mdSuffix>description</md-icon>-->

        <md-select class="full-width" placeholder="State" formControlName="state" required>
          <md-option *ngFor="let state of statesList" [value]="state">{{ state }}</md-option>
        </md-select>
        <!--<md-icon>location_city</md-icon>-->
    </form>
  </div>

  <div>
    <h2>Results</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Yearly</th>
          <th>Monthly</th>
          <th>Bi-Weekly</th>
          <th>Weekly</th>
      </tr>
      </thead>
      <tbody>
         <tr>
           <td><strong>Take Home</strong></td>
           <td>$ {{takeHomePay.yearly}}</td>
           <td>$ {{takeHomePay.monthly}}</td>
           <td>$ {{takeHomePay.biweekly}}</td>
           <td>$ {{takeHomePay.weekly}}</td>
         </tr>
      </tbody>
    </table>
  </div>
</div>
